<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Contact Us</h1>
    <form action="#" th:action="@{/contactUs}" th:object="${contactFormDto}" method="post">

        <label for="kindOfRequest">Kind of Request</label><br>
        <select name="kindOfRequest" id="kindOfRequest" th:field="*{kindOfRequest}">
            <option th:each="kor : ${requestKinds}"
                    th:value="${kor.id}"
                    th:utext="${kor.requestKind}"/>
        </select><br>

        <label for="policyNumber">Policy Number:</label><br>
        <input type="text" id="policyNumber" name="policyNumber" th:field="*{policyNumber}"><br>

        <label for="firstName">Name</label><br>
        <input type="text" id="firstName" name="FirstName" th:field="*{firstName}"><br>

        <label for="lastName">surname</label><br>
        <input type="text" id="lastName" name="lastName" th:field="*{lastName}"><br>

        <label for="yourRequest"> Your request</label><br>
        <textarea type="textarea" maxlength="255" id="yourRequest" name="yourRequest" th:field="*{customerRequest}"></textarea><br>

        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>
</body>